p{
    font-family: Roboto, Arial;
    margin: 0;
}
body{
    margin: 0;
    padding-top: 75px;
    padding-left: 90px;
}
.grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 50px;
}