.side-bar{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 70px;
    z-index: 200;
    padding-left: 5px;
    background-color: white;
   }

.side-bar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.side-bar-link:hover{
    background-color: rgb(157, 157, 157);
}
.side-bar-link img{
    height: 24px;
}
.side-bar-link div{
    font-size: 10px;
}